.flag-icon-background {
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  float: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

/* .flag-wrapper{
  border: 1px solid #10f;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
} */
/* .flag-wrapper .flag-icon-background{
  text-align: center;
} */
/* .flag .flag-icon-background{
  margin: 0 auto;
} */

.flag-icon:before {
  content: "\00a0";
}

.flag-icon.flag-icon-squared {
  width: 1em;
}

.flag-icon-ba {
  background-image: url(../fonts/ba.svg);
}
.flag-icon-ba.flag-icon-squared {
  background-image: url(../fonts/ba.svg);
}
.flag-icon-BBD {
  background-image: url(../fonts/bb.svg);
}
.flag-icon-bb.flag-icon-squared {
  background-image: url(../fonts/bb.svg);
}
.flag-icon-bd {
  background-image: url(../fonts/bd.svg);
}
.flag-icon-bd.flag-icon-squared {
  background-image: url(../fonts/bd.svg);
}

.flag-icon-gb {
  background-image: url(../fonts/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(../fonts/gb.svg);
}
.flag-icon-gd {
  background-image: url(../fonts/gd.svg);
}
.flag-icon-gd.flag-icon-squared {
  background-image: url(../fonts/gd.svg);
}

.flag-icon-nu.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/nu.svg);
}
.flag-icon-NZD {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/nz.svg);
}
.flag-icon-nz.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/nz.svg);
}
.flag-icon-OMR {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/om.svg);
}
.flag-icon-om.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/om.svg);
}
.flag-icon-pa {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pa.svg);
}
.flag-icon-pa.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pa.svg);
}
.flag-icon-PEN {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pe.svg);
}
.flag-icon-pe.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pe.svg);
}
.flag-icon-pf {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pf.svg);
}
.flag-icon-pf.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pf.svg);
}
.flag-icon-PGK {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pg.svg);
}
.flag-icon-pg.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pg.svg);
}
.flag-icon-PHP {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ph.svg);
}
.flag-icon-ph.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ph.svg);
}
.flag-icon-PKR {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pk.svg);
}
.flag-icon-pk.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pk.svg);
}
.flag-icon-PLN {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pl.svg);
}
.flag-icon-pl.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pl.svg);
}
.flag-icon-pm {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pm.svg);
}
.flag-icon-pm.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pm.svg);
}
.flag-icon-pn {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pn.svg);
}
.flag-icon-pn.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pn.svg);
}
.flag-icon-pr {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pr.svg);
}
.flag-icon-pr.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pr.svg);
}
.flag-icon-ps {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ps.svg);
}
.flag-icon-ps.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ps.svg);
}
.flag-icon-pt {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pt.svg);
}
.flag-icon-pt.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pt.svg);
}
.flag-icon-pw {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pw.svg);
}
.flag-icon-pw.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/pw.svg);
}
.flag-icon-py {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/py.svg);
}
.flag-icon-py.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/py.svg);
}
.flag-icon-QAR {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/qa.svg);
}
.flag-icon-qa.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/qa.svg);
}

.flag-icon-RON {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ro.svg);
}
.flag-icon-ro.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ro.svg);
}
.flag-icon-rs {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/rs.svg);
}
.flag-icon-rs.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/rs.svg);
}
.flag-icon-RUB {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ru.svg);
}
.flag-icon-ru.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ru.svg);
}
.flag-icon-rw {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/rw.svg);
}
.flag-icon-rw.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/rw.svg);
}
.flag-icon-SAR {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sa.svg);
}
.flag-icon-sa.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sa.svg);
}
.flag-icon-sb {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sb.svg);
}
.flag-icon-sb.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sb.svg);
}
.flag-icon-sc {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sc.svg);
}
.flag-icon-sc.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sc.svg);
}
.flag-icon-sd {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sd.svg);
}
.flag-icon-sd.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sd.svg);
}
.flag-icon-SEK {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/se.svg);
}
.flag-icon-se.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/se.svg);
}
.flag-icon-SGD {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sg.svg);
}
.flag-icon-sg.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sg.svg);
}
.flag-icon-sh {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sh.svg);
}
.flag-icon-sh.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sh.svg);
}
.flag-icon-si {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/si.svg);
}
.flag-icon-si.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/si.svg);
}
.flag-icon-sj {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sj.svg);
}
.flag-icon-sj.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sj.svg);
}
.flag-icon-sk {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sk.svg);
}
.flag-icon-sk.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sk.svg);
}
.flag-icon-sl {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sl.svg);
}
.flag-icon-sl.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sl.svg);
}
.flag-icon-sm {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sm.svg);
}
.flag-icon-sm.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sm.svg);
}
.flag-icon-sn {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sn.svg);
}
.flag-icon-sn.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sn.svg);
}
.flag-icon-so {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/so.svg);
}
.flag-icon-so.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/so.svg);
}
.flag-icon-sr {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sr.svg);
}
.flag-icon-sr.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sr.svg);
}
.flag-icon-ss {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ss.svg);
}
.flag-icon-ss.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ss.svg);
}
.flag-icon-st {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/st.svg);
}
.flag-icon-st.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/st.svg);
}
.flag-icon-sv {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sv.svg);
}
.flag-icon-sv.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sv.svg);
}
.flag-icon-sx {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sx.svg);
}
.flag-icon-sx.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sx.svg);
}
.flag-icon-SYP {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sy.svg);
}
.flag-icon-sy.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sy.svg);
}
.flag-icon-sz {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sz.svg);
}
.flag-icon-sz.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/sz.svg);
}
.flag-icon-tc {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tc.svg);
}
.flag-icon-tc.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tc.svg);
}
.flag-icon-td {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/td.svg);
}
.flag-icon-td.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/td.svg);
}
.flag-icon-tf {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tf.svg);
}
.flag-icon-tf.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tf.svg);
}
.flag-icon-tg {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tg.svg);
}
.flag-icon-tg.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tg.svg);
}
.flag-icon-THB {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/th.svg);
}
.flag-icon-th.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/th.svg);
}
.flag-icon-tj {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tj.svg);
}
.flag-icon-tj.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tj.svg);
}
.flag-icon-tk {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tk.svg);
}
.flag-icon-tk.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tk.svg);
}
.flag-icon-tl {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tl.svg);
}
.flag-icon-tl.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tl.svg);
}
.flag-icon-tm {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tm.svg);
}
.flag-icon-tm.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tm.svg);
}
.flag-icon-flag-icon-tn {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tn.svg);
}
.flag-icon-tn.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tn.svg);
}
.flag-icon-to {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/to.svg);
}
.flag-icon-to.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/to.svg);
}
.flag-icon-TRY {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tr.svg);
}
.flag-icon-tr.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tr.svg);
}
.flag-icon-TTD {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tt.svg);
}
.flag-icon-tt.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tt.svg);
}
.flag-icon-tv {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tv.svg);
}
.flag-icon-tv.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tv.svg);
}
.flag-icon-TWD {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tw.svg);
}
.flag-icon-tw.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tw.svg);
}
.flag-icon-tz {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tz.svg);
}
.flag-icon-tz.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/tz.svg);
}
.flag-icon-ua {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ua.svg);
}
.flag-icon-ua.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ua.svg);
}
.flag-icon-ug {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ug.svg);
}
.flag-icon-ug.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ug.svg);
}
.flag-icon-um {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/um.svg);
}
.flag-icon-um.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/um.svg);
}
.flag-icon-USD {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/us.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/us.svg);
}
.flag-icon-UYU {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/uy.svg);
}
.flag-icon-uy.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/uy.svg);
}
.flag-icon-uz {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/uz.svg);
}
.flag-icon-uz.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/uz.svg);
}
.flag-icon-va {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/va.svg);
}
.flag-icon-va.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/va.svg);
}
.flag-icon-vc {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vc.svg);
}
.flag-icon-vc.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vc.svg);
}
.flag-icon-ve {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ve.svg);
}
.flag-icon-ve.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ve.svg);
}
.flag-icon-vg {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vg.svg);
}
.flag-icon-vg.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vg.svg);
}
.flag-icon-vi {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vi.svg);
}
.flag-icon-vi.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vi.svg);
}
.flag-icon-VND {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vn.svg);
}
.flag-icon-vn.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vn.svg);
}
.flag-icon-vu {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vu.svg);
}
.flag-icon-vu.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/vu.svg);
}
.flag-icon-wf {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/wf.svg);
}
.flag-icon-wf.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/wf.svg);
}
.flag-icon-ws {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ws.svg);
}
.flag-icon-ws.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ws.svg);
}
.flag-icon-ye {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ye.svg);
}
.flag-icon-ye.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/ye.svg);
}
.flag-icon-yt {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/yt.svg);
}
.flag-icon-yt.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/yt.svg);
}
.flag-icon-ZAR {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/za.svg);
}
.flag-icon-za.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/za.svg);
}
.flag-icon-zm {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/zm.svg);
}
.flag-icon-zm.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/zm.svg);
}
.flag-icon-zw {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/zw.svg);
}
.flag-icon-zw.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/zw.svg);
}
.flag-icon-EUR {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/eu.svg);
}
.flag-icon-eu.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/eu.svg);
}
.flag-icon-un {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/un.svg);
}
.flag-icon-un.flag-icon-squared {
  background-image: url(http://flatable.phoenixcoded.net/default/assets/icon/flag-icons/fonts/un.svg);
}

.icon-list-demo .flag-icon-background {
  /* margin-right: 8px; */
  font-size: 12px;
  text-transform: capitalize;
}
